# Webapp details
APP_NAME="CAS auth bot for Discord"
#APP_DESCRIPTION="Connect to your CAS account to get your Discord role"
APP_NOTICE="This app is not affiliated nor endorsed by..." # you can use HTML here
COPYRIGHT_YEAR="2024"
HELP_EMAIL="help@example.org"

DEFAULT_LANG="en" # en, fr

# Discord Bot
BOT_NAME="CAS Auth Bot"
ADMIN_GUILD_ID="" # Discord guild ID
DISCORD_BOT_TOKEN="" # Discord bot token

# Webapp settings
APP_SECRET_KEY="dev" # used for cookie encryption # could generate at startup ?
FASTAPI_HOST="localhost"
FASTAPI_PORT=8000
SESSION_MAX_AGE=43200 # in seconds, 12 hours
SITE_URL="http://discordcas.example.org"
ICON_URL="https://github.com/LucasPlacentino/cas-sso-discord-bot/assets/23436953/647500ce-aef6-4cb3-bfba-5a8ef0bb4a8e.png"

MAIN_COLOR="#070a4b"
FAVICON_URL=""

# Database
DB_PORT=3306
DB_TYPE="mysql" # mysql, postgresql, sqlite or gsheets
DATABASE_URL="mysql://app@localhost:3306/" # sqlite for dev
DB_USER="app"
DB_PASSWORD="db_password"

# ONYL FOR GSHEETS DB:
#TODO: add gsheets db config

# CAS
CAS_VERSION=1 # CAS protocol version
CAS_HOST="test-cas.example.org"
CAS_PORT=443
#CAS_CONTEXT=""
CAS_SERVER_CA_CERT_PATH="" # ./CAS/root-cert.cer
#CAS_SERVICE_URL="http://test-cas.example.org/service" # or "https://thisapp.example.org/login"
CAS_SERVER_URL="http://test-cas.example.org"
CAS_ICON_URL="https://apereo.github.io/cas/images/cas_logo.png"

###CAS_ENDPOINT="http://test-cas.example.org" # CAS server URL
###CAS_TICKET_URL_PATH="/cas-validate" # CAS ticket validation URL path

# Discord OAuth2
DISCORD_CLIENT_ID="" # Discord OAuth2 client ID
DISCORD_CLIENT_SECRET="" # Discord OAuth2 client secret
###DISCORD_REDIRECT_URI="" # Discord OAuth2 redirect URI

# ------------------------------------------------

# ---- For DEV, do not change, leave as false ----
DEV_ENV=false
DEBUG=false
BOT_DISABLED=false