{% extends 'base.jinja' %}

{% block content %}
    <div class="error">401 Unauthorized, <a href="/{{ current_lang }}/">Login</a></div>

    <section class="flex-sect" id="iqw1p">
        <div class="container-width" id="ixcsj">
            <div class="gjs-row" id="ibzh2s">
                <div class="gjs-row" id="iwp1uq">
                    <div class="gjs-cell" id="iwc2yl">
                        401 Unauthorized
                    </div>
                </div>
                <div class="gjs-title-row" id="i6uu1">
                    <div class="gjs-cell" id="it38h">
                        <div class="flex-title" id="if7j6">
                            <span id="if8j7"><a id="if7j6b" href="{{ url_for('login') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Login</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}