{% extends 'base.jinja' %}

{% block content %}
{% if is_debug %}
<div style="border: 2px solid red">
    <div class="username">user: {{ cas_username }} <a href="{{ url_for('logout') }}">Logout</a></div>
    <div class="discord-username">Discord username: {{ discord_username }} <a href="{{ url_for('discord_logout') }}">Discord Logout</a></div>
</div>
{% endif %}

<section class="flex-sect" id="iqw1p">
    <div class="container-width" id="ixcsj">
        <div class="gjs-col" id="ibzh2s">
            <div class="gjs-row" id="iwp1uq">
                <div class="gjs-cell" id="iwc1yl">
                    <div class="flex-title" id="isl2q">{{ lang_str("hello", current_lang) }}, <i style="color: {{ env_var('MAIN_COLOR', '#070a4b') }};" id="ibgfgw">{{ cas_username }}<!--Théodore
                            Verhaegen--><!-- user.name  user.surname --></i>
                    </div>
                </div>
            </div>
            <div class="gjs-title-row" id="iggerx">
                <div class="gjs-cell" id="i87qsk">
                    <i style="color: {{ env_var('MAIN_COLOR', '#070a4b') }};" id="ijsy0p">{{ cas_email }}<!--theodore.verhaegen@ulb.be-->
                        <!-- user.email -->
                    </i>
                    <a href="{{ url_for('logout') }}" class="button-light logout-button" id="ihlfcn"><span id="i2e4vk">{{ lang_str("logout", current_lang)|safe }}</span><i
                            style="font-size: 1.4em; margin-left: 1rem;" class="fa fa-sign-out logout-icon">
                        </i></a>
                </div>
            </div>
            <div class="gjs-row" id="i33md">
                <div class="gjs-cell" id="ihc9u">
                    <div id="iu6vy">{{ lang_str('discord_linked', current_lang)|safe }}</div>
                </div>
            </div>
            <div class="gjs-row" id="iddg46">
                <div class="gjs-cell" id="ieybnm">
                    <h3 id="ivs5rm">{{ lang_str('your_discord_name', current_lang)|safe }}: <b><i
                                id="i7esag">{{ discord_username }} (<i>user_id: {{ discord_id }}</i>)<!-- user.discord_username -->
                            </i></b></h3>
                </div>
            </div>
            <div class="gjs-row" id="iwekp">
                <div class="gjs-cell" id="ipcq2">
                    <a href="{{ url_for('discord_logout') }}" class="button-light" id="discord-unlink-button">
                        <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a69f118df70ad7828d4_icon_clyde_blurple_RGB.svg"
                            class="button-icon" />
                        <span>{{ lang_str('unlink_from_discord', current_lang)|safe }}</span>
                    </a>
                </div>
            </div>
            <div class="gjs-row" id="iy5iar">
                <div class="gjs-cell" id="im6ow7">
                    <div id="icf2hf">
                        <h3 style="margin: 0; padding: 0; margin-top: 0.4em; text-decoration: underline;">{{ lang_str('warning', current_lang)|safe }}:
                        </h3><br />{{ lang_str('unlink_from_discord_notice', current_lang)|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}